.cta-box1 {
  background-color: $secondary-color;
  max-width: 610px;
  padding: 90px 75px 70px 110px;
  border-radius: 274px 30px 274px 274px;

  .cta-title {
    color: $white-color;
    margin-bottom: 18px;
    margin-top: -0.2em;
  }

  .cta-text {
    color: #D9D9D9;
    font-size: 18px;
    margin-bottom: 30px;
  }

}


@include lg {
  .cta-box1 {
    padding: 60px 60px 60px 100px;
  }
}

@include md {
  .cta-box1 {
    border-radius: 50px;
    padding: 60px 80px;
    max-width: 100%;
    text-align: center;
  }
}

@include sm {
  .cta-box1 {
    padding: 50px 20px;
  }
}